﻿@using AgiCorp.Entity;
@using AgiCorp.BLL;
@using AgiCorp.Code.Helpers;
@using System.Web.UI.WebControls;
@{
    BALCountry balCountry = new BALCountry();
    BALAgent balAgent = new BALAgent();
    BALProgramme balProgramme = new BALProgramme();
    BALAgentCommissionType balAgentCommissionType = new BALAgentCommissionType();
}

@(Html.DevExpress().GridView<EntityAgentCommission>(
    settings =>
    {
        settings.Name = "gridAgentCommission";
        settings.CallbackRouteValues = new { Controller = "Agent", Action = "GetAgentCommissionData" };
        settings.SettingsEditing.AddNewRowRouteValues = new { Controller = "Agent", Action = "AgentCommissionAddNewPartial" };
        settings.SettingsEditing.UpdateRowRouteValues = new { Controller = "Agent", Action = "AgentCommissionUpdatePartial" };
        settings.SettingsEditing.DeleteRowRouteValues = new { Controller = "Agent", Action = "AgentCommissionDeletePartial" };
        settings.ClientSideEvents.BeginCallback = "gridAgentCommission_BeginCallback";

        settings.Width = Unit.Percentage(100);

        settings.Settings.ShowHeaderFilterButton = true;
        var headerFilterMode = GridHeaderFilterMode.CheckedList;
        foreach (GridViewDataColumn column in settings.Columns)
        {
            column.SettingsHeaderFilter.Mode = headerFilterMode;
        }
        settings.Settings.ShowGroupPanel = true;
        settings.Settings.ShowFilterRow = true;
        settings.CommandColumn.Visible = true;
        settings.CommandColumn.ShowEditButton = true;
        settings.CommandColumn.ShowDeleteButton = true;
        settings.KeyFieldName = "AgentCommissionID";
        //settings.CommandColumn.ShowNewButton = true;
        settings.CommandColumn.ShowNewButtonInHeader = true;
        settings.SettingsEditing.Mode = GridViewEditingMode.EditFormAndDisplayRow;
        settings.Columns.Add("Code");
        settings.Columns.Add(c =>
        {
            c.FieldName = "CountryID";
            c.Caption = "Country";

            c.EditorProperties().ComboBox(p =>
            {
                p.TextField = "Country";
                p.ValueField = "CountryID";
                p.ValueType = typeof(int);
                p.BindList(balCountry.BALCountry_Get_All());
            });
        });
        settings.Columns.Add(c =>
        {
            c.FieldName = "ProgrammeID";
            c.Caption = "Programme";

            c.EditorProperties().ComboBox(p =>
            {
                p.TextField = "Description";
                p.ValueField = "ProgrammeID";
                p.ValueType = typeof(int);
                p.BindList(balProgramme.BALProgramme_Get_All());
            });
        });
        settings.Columns.Add(c =>
        {
            c.FieldName = "CommissionTypeID";
            c.Caption = "Commission Type";

            c.EditorProperties().ComboBox(p =>
            {
                p.TextField = "Description";
                p.ClientInstanceName = "AgentCommissionTypeID";
                p.ValueField = "AgentCommissionTypeID";
                p.ValueType = typeof(int);
                p.BindList(balAgentCommissionType.BALAgentCommissionType_Get_All());
                //p.ClientSideEvents.ValueChanged = string.Format("function(s, e){{ onValueChanged(s, e, '{0}'); }}",settings.Name);
                p.ClientSideEvents.ValueChanged = "function(){ValChanged()}";
                //p.ClientSideEvents.SelectedIndexChanged = "function(s, e) { onValueChanged()}";                
            });
        });
        settings.Columns.Add(c =>
        {
            c.FieldName = "CommissionPer";
            c.Caption = "Commission Percentage";

            c.EditorProperties().SpinEdit(p =>
            {
                p.MaxValue = 100;
                p.MinValue = 1;
                p.ClientInstanceName = "CommissionPer";
                p.ValidationSettings.SetFocusOnError = true;
                p.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithTooltip;
            });
        });
        settings.Columns.Add(c =>
        {
            c.FieldName = "CommissionFixed";
            c.Caption = "Commission Fixed";

            c.EditorProperties().SpinEdit(p =>
            {
                //p.MaxValue = 100;
                //p.MinValue = 1;
                p.ClientInstanceName = "CommissionFixed";
                p.ValidationSettings.SetFocusOnError = true;
                p.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithTooltip;
            });
        });

        //settings.Columns.Add("CommissionPer", MVCxGridViewColumnType.SpinEdit);
        //settings.Columns.Add("CommissionFixed", MVCxGridViewColumnType.SpinEdit);
        //settings.Columns.Add("StartDate",MVCxGridViewColumnType.DateEdit);
        //settings.Columns.Add("EndDate", MVCxGridViewColumnType.DateEdit);
        settings.Columns.Add(column =>
        {
            column.FieldName = "StartDate";
            column.Caption = "StartDate";
            column.ColumnType = MVCxGridViewColumnType.DateEdit;

            (column.PropertiesEdit as DateEditProperties).DisplayFormatString = "dd/MM/yyyy";
            (column.PropertiesEdit as DateEditProperties).EditFormatString = "dd/MM/yyyy";
            //(column.PropertiesEdit as DateEditProperties).TimeSectionProperties.Visible = true;
        });
        settings.Columns.Add(column =>
        {
            column.FieldName = "EndDate";
            column.Caption = "EndDate";
            column.ColumnType = MVCxGridViewColumnType.DateEdit;

            (column.PropertiesEdit as DateEditProperties).DisplayFormatString = "dd/MM/yyyy";
            (column.PropertiesEdit as DateEditProperties).EditFormatString = "dd/MM/yyyy";
            //(column.PropertiesEdit as DateEditProperties).TimeSectionProperties.Visible = true;
        });

        settings.SettingsAdaptivity.AdaptivityMode = GridViewAdaptivityMode.HideDataCells;

    })
    .Bind(Model)
    .SetEditErrorText(ViewBag.EditError)
    .GetHtml())




