﻿@model System.Data.DataTable

@using System.Web.UI.WebControls;
<script type="text/javascript">
    function onShowChooserClick(s, e) {
        UpdateCustomizationWindowVisibility();
    }
    function grid_CustomizationWindowCloseUp(s, e) {
        UpdateButtonText();
    }
    function UpdateCustomizationWindowVisibility() {
        if (grid.IsCustomizationWindowVisible())
            grid.HideCustomizationWindow();
        else
            grid.ShowCustomizationWindow();
        UpdateButtonText();
    }
    function UpdateButtonText() {
        var text = grid.IsCustomizationWindowVisible() ? "Hide" : "Show";
        text += " Column Chooser";
        btShowColumnChooser.SetText(text);
    }

    function ValChanged(s, e) {
        if (AgentCommissionTypeID.GetValue() == 1) //Fixed
        {
            CommissionFixed.SetEnabled(true);
            CommissionPer.SetEnabled(false);
        }
        else
        {
            CommissionFixed.SetEnabled(false);
            CommissionPer.SetEnabled(true);
        }
        
        //for (i = 0; i < gridAgentCommission.GetColumnsCount() ; i++) {
        //    var editor = gridAgentCommission.GetEditor(i);
        //    if (editor != null && editor != s)
        //        {
        //            alert(editor.GetValue());
        //            //editor.SetEnabled(s.GetChecked());
        //        }
        //}
    }

    function OnClick(s, e) {        
        var SID = cmbCountry.GetValue();
        var IID = AgentID.GetValue();
       

        $.ajax({
            url: '@Url.Action("AddAssociatedCountry", "Agent")',
            type: "POST",
            data: { CountryID: SID, AgentID: IID },
            success: function (result) {
                if (result == "") {
                    //s.SetIsValid(true);
                    alert('success');
                    //gridSchool.Refresh();
                    gridCountry.PerformCallback();
                }
                else {
                    //s.SetIsValid(false);
                    alert('fail');
                }
            },
            error: function (xhr, textStatus, errorThrown) {
                alert('Request Status: ' + xhr.status + '; Status Text: ' + textStatus + '; Error: ' + errorThrown);
            }
        });
    }

    function OnFilesUploadStart(s, e) {
        //$('#UserID').val(Text.GetValue());
    }
    function OnFileUploadComplete(s, e) {
        //var _object = JSON.parse(e.callbackData);
        //console.log(JSON.stringify(_object));       
        //grid.UpdateEdit();
    }

    function OnFilesUploadComplete(s, e) {
        gridAgentDocument.UpdateEdit();
    }

    function gridCountry_BeginCallback(s, e) {
        var IID = AgentID.GetValue();
        e.customArgs["AgentID"] = IID;
    }

    function gridAgentCommission_BeginCallback(s, e) {
        var IID = AgentID.GetValue();
        e.customArgs["AgentID"] = IID;
    }

    function gridAgentContact_BeginCallback(s, e) {
        var IID = AgentID.GetValue();
        e.customArgs["AgentID"] = IID;
    }

    function gridAgentDocument_BeginCallback(s, e) {
        var IID = AgentID.GetValue();
        e.customArgs["AgentID"] = IID;
    }


</script>
<style>
    .ContentCSS > TextBox {
        width: 350px;
    }
</style>
@using (Html.BeginForm("ExportTo", "Agent"))
{
    <h1>Agent</h1>
    @Html.Hidden("exportFormat");
    @Html.Partial("GridViewPartial", Model);
}

@section AdditionalResources {
    <script type="text/javascript">
        function OnToolbarItemClick(s,e) {
            if(!IsExportToolbarCommand(e.item.name))
                return;

            var $exportFormat = $('#exportFormat');
            $exportFormat.val(e.item.name);
            $('form').submit();
            window.setTimeout(function(){
                $exportFormat.val("");
            }, 0);
        }
        function IsExportToolbarCommand(command) {
            return command == "Pdf" || command == "Xlsx" || command == "Xls" || command == "Rtf" || command == "Csv";
        }
    </script>
}