﻿@using System.Web.UI.WebControls
@using AgiCorp.Entity
@using AgiCorp.BLL
@model EntityDepartment
@{
    BALCountry balCountry = new BALCountry();
    BALSchool balSchool = new BALSchool();
    BALBuilding balBuilding = new BALBuilding();
}
@functions {
    bool isNewRow { get { return ViewBag.IsNewRow != null && (bool)ViewBag.IsNewRow; } }
}

        @Html.DevExpress().PageControl(settings =>
   {
       settings.Name = "pageControl";
       settings.Width = Unit.Percentage(100);
       //settings.Width = 700;
       //settings.Height = 400;


       settings.TabPages.Add("Department", "Department").SetContent(() =>
       {
           Html.DevExpress().FormLayout(formLayoutSettings =>
           {
               formLayoutSettings.Name = "FormLayout1";
               formLayoutSettings.Width = Unit.Percentage(100);
               formLayoutSettings.SettingsAdaptivity.AdaptivityMode = FormLayoutAdaptivityMode.SingleColumnWindowLimit;
               formLayoutSettings.SettingsAdaptivity.SwitchToSingleColumnAtWindowInnerWidth = 700;
               formLayoutSettings.ColCount = 2;

               formLayoutSettings.Items.Add(i =>
               {
                   i.Name = "Code";
                   i.FieldName = "Code";
                   i.NestedExtension().TextBox(s =>
                   {
                       s.Name = "Code";
                       s.ShowModelErrors = true;
                       s.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithTooltip;
                   });
               });
               formLayoutSettings.Items.Add(i =>
               {
                   i.Name = "Description";
                   i.FieldName = "Description";
                   i.NestedExtension().TextBox(s =>
                   {
                       s.Name = "Description";
                       s.ShowModelErrors = true;
                   });
               });
               formLayoutSettings.Items.Add(i =>
               {
                   i.Name = "SchoolID";
                   i.FieldName = "SchoolID";
                   i.Caption = "School";
                   i.NestedExtension().ComboBox(s =>
                   {
                       s.Properties.TextField = "Description";
                       s.Properties.ValueField = "SchoolID";
                       s.Properties.ValueType = typeof(int);
                       s.Properties.DataSource = balSchool.BALSchool_Get_All();
                       s.ShowModelErrors = true;
                   });
               });
               formLayoutSettings.Items.Add(i =>
               {
                   i.Name = "IsActive";
                   i.FieldName = "IsActive";
                   i.Caption = "Is Active";
                   i.NestedExtension().CheckBox(s =>
                   {
                       s.Name = "IsActive";
                       s.ShowModelErrors = true;
                   });
               });
               formLayoutSettings.Items.Add(i =>
               {
                   i.Name = "DepartmentID";
                   i.FieldName = "DepartmentID";
                   i.ClientVisible = false;
                   i.NestedExtension().TextBox(s =>
                   {
                       s.Name = "DepartmentID";
                   });
               });
               formLayoutSettings.Items.AddEmptyItem();
               formLayoutSettings.Items.Add(i =>
               {
                   i.ShowCaption = DefaultBoolean.False;
               }).SetNestedContent(() =>
               {
                   ViewContext.Writer.Write("<div style='float:left'>");
                   Html.DevExpress().Button(btnSettings =>
                   {
                       btnSettings.Name = "btnUpdate";
                       btnSettings.Text = "Update";
                       btnSettings.ClientSideEvents.Click = "function(s, e){ grid.UpdateEdit(); }";
                   }).Render();
                   Html.DevExpress().Button(btnSettings =>
                   {
                       btnSettings.Name = "btnCancel";
                       btnSettings.Text = "Cancel";
                       btnSettings.Style[HtmlTextWriterStyle.MarginLeft] = "5px";
                       btnSettings.ClientSideEvents.Click = "function(s, e){ grid.CancelEdit(); }";
                   }).Render();
                   ViewContext.Writer.Write("</div>");
               });


           }).GetHtml();


       });
       settings.TabPages.Add(p =>
       {
           p.Name = "Building";
           p.Text = "Building";
           p.Visible = isNewRow;
           p.SetContent(() =>
           {
               ViewContext.Writer.Write("<table><tr><td>");
               @Html.DevExpress().ComboBox(cb =>
               {
                   cb.Name = "cmbBuilding";
                   cb.Properties.TextField = "Description";
                   cb.Properties.ValueField = "BuildingID";
                   cb.Properties.ValueType = typeof(int);
                   cb.Width = 300;
               })
             .BindList(balBuilding.BALBuilding_Get_All())
             .Render();
               ViewContext.Writer.Write("</td><td>");

               Html.DevExpress().Button(
               btnSettings =>
               {
                   btnSettings.Name = "btnAdd";
                   btnSettings.ControlStyle.CssClass = "editFormButton";
                   btnSettings.Text = "Add Associated Building";
                   btnSettings.ClientSideEvents.Click = "OnClick";
               }
               )
               .Render();
               ViewContext.Writer.Write("</td></tr></table>");


               Html.RenderAction("GetDepartmentBuildingData", new { DepartmentID = ViewData["DeptID"] });
               //Html.RenderAction("GetBuildingData");
           });
       });
   }).GetHtml()




