﻿@model System.Data.DataTable

@using System.Web.UI.WebControls;
<script type="text/javascript">
    function onShowChooserClick(s, e) {
        UpdateCustomizationWindowVisibility();
    }
    function grid_CustomizationWindowCloseUp(s, e) {
        UpdateButtonText();
    }
    function UpdateCustomizationWindowVisibility() {
        if (grid.IsCustomizationWindowVisible())
            grid.HideCustomizationWindow();
        else
            grid.ShowCustomizationWindow();
        UpdateButtonText();
    }

    function gridModule_BeginCallback(s, e) {
        var IID = StaffID.GetValue();
        e.customArgs["StaffID"] = IID;
    }

    function gridStaffQualification_BeginCallback(s, e) {
        var IID = StaffID.GetValue();
        e.customArgs["StaffID"] = IID;
    }

    function UpdateButtonText() {
        var text = grid.IsCustomizationWindowVisible() ? "Hide" : "Show";
        text += " Column Chooser";
        btShowColumnChooser.SetText(text);
    }

    function OnClick(s, e) {       
        //var targetUrl = s.submitUrl + "?QualificationID=" + cmbQualification.GetValue() + "&StaffID=" + StaffID.GetValue();
        //s.submitUrl = targetUrl;                
        var SID = cmbQualification.GetValue();
        var IID = StaffID.GetValue();     

        $.ajax({
            url: '@Url.Action("AddAssociatedQualification", "Staff")',
            type: "POST",
            data: { QualificationID: SID, StaffID: IID },
            success: function (result) {                
                if (result == "") {
                    //s.SetIsValid(true);
                    alert('success');
                    //gridQualification.Refresh();
                    gridQualification.PerformCallback();
                }
                else {
                    //s.SetIsValid(false);
                    alert('fail');                    
                }
            },
            error: function (xhr, textStatus, errorThrown) {
                alert('Request Status: ' + xhr.status + '; Status Text: ' + textStatus + '; Error: ' + errorThrown);
            }
        });
    }


    function OnAddModuleClick(s, e) {
        //var targetUrl = s.submitUrl + "?StaffID=" + cmbStaff.GetValue() + "&ModuleID=" + ModuleID.GetValue();
        //s.submitUrl = targetUrl;                
        var SID = cmbModule.GetValue();
        var IID = StaffID.GetValue();

        $.ajax({
              url: '@Url.Action("AddAssociatedModule", "Staff")',
            type: "POST",
            data: { ModuleID: SID, StaffID: IID },
            success: function (result) {
                if (result == "") {
                    //s.SetIsValid(true);
                    alert('success');
                    //gridStaff.Refresh();
                    gridModule.PerformCallback();
                }
                else {
                    //s.SetIsValid(false);
                    alert('fail');
                }
            },
            error: function (xhr, textStatus, errorThrown) {
                alert('Request Status: ' + xhr.status + '; Status Text: ' + textStatus + '; Error: ' + errorThrown);
            }
        });
    }

    function gridQualification_BeginCallback(s, e) {        
        var IID = StaffID.GetValue();
        e.customArgs["StaffID"] = IID;
    }

    @*function onValueChanged(s, e) {
        alert('in onvaluechanged');
        var text = s.GetText();
        var val = s.GetValue();
        var result;
        $.ajax({
            url: '@Url.Action("CheckUniqueCode", "Staff")',
            type: "GET",
            data: { Code: text },
            success: function (data) {
                //alert(data.resultData);
                //alert(data.result);
                if (data.resultData == false) {
                    //alert(false);
                    s.SetIsValid(false);
                }
                else {
                    //alert(true);
                    s.SetIsValid(true);
                }
            },
            error: function (xhr, textStatus, errorThrown) {
                alert('Request Status: ' + xhr.status + '; Status Text: ' + textStatus + '; Error: ' + errorThrown);
            }
        });
    }*@

    //function HandleRowDoubleClick(s, e) {       
    //    s.GetRowValues(e.visibleIndex, 'StaffID', OnGetRowValues)
    //}
    //function OnGetRowValues(Value) {       
    //    var hintWindow = pcStaff.GetWindowByName("PopUpPartial");       
    //    pcStaff.ShowWindow(hintWindow);
    //}

</script>
<style>
.ContentCSS > TextBox{
    width:350px;
}
</style>
@using (Html.BeginForm("ExportTo", "Staff"))
{
    <h1>Staff</h1> 
    @Html.Hidden("exportFormat");       
    @Html.Partial("GridViewPartial", Model);
}

    @section AdditionalResources {
    <script type="text/javascript">
        function OnToolbarItemClick(s,e) {
            if(!IsExportToolbarCommand(e.item.name))
                return;

            var $exportFormat = $('#exportFormat');
            $exportFormat.val(e.item.name);
            $('form').submit();
            window.setTimeout(function(){
                $exportFormat.val("");
            }, 0);
        }
        function IsExportToolbarCommand(command) {
            return command == "Pdf" || command == "Xlsx" || command == "Xls" || command == "Rtf" || command == "Csv";
        }
    </script>
}