﻿@model System.Data.DataTable

@using System.Web.UI.WebControls;
<script type="text/javascript">
    function onShowChooserClick(s, e) {
        UpdateCustomizationWindowVisibility();
    }
    function grid_CustomizationWindowCloseUp(s, e) {
        UpdateButtonText();
    }
    function UpdateCustomizationWindowVisibility() {
        if (grid.IsCustomizationWindowVisible())
            grid.HideCustomizationWindow();
        else
            grid.ShowCustomizationWindow();
        UpdateButtonText();
    }
    function UpdateButtonText() {
        var text = grid.IsCustomizationWindowVisible() ? "Hide" : "Show";
        text += " Column Chooser";
        btShowColumnChooser.SetText(text);
    }



    function checkBreakApplicable(s, e) {
        var chk = document.getElementById('IsSemesterBreakApplicable_S_D');
        var From = document.getElementById('SemesterBreakFromDate_I');
        var To  = document.getElementById('SemesterBreakToDate_I');
        if (chk.getAttribute('class') == 'dxICheckBox_iOS dxichSys dx-not-acc dxICBFocused_iOS dxh0 dxWeb_edtCheckBoxChecked_iOS')
        {
            From.value='';
            To.value='';
        }
    }


    function OnClick(s, e) {       
        //var targetUrl = s.submitUrl + "?ModuleID=" + cmbModule.GetValue() + "&ProgrammeID=" + ProgrammeID.GetValue();
        //s.submitUrl = targetUrl;                
        var SID = cmbModule.GetValue();
        var IID = ProgrammeID.GetValue();     

        $.ajax({
            url: '@Url.Action("AddAssociatedModule", "Programme")',
            type: "POST",
            data: { ModuleID: SID, ProgrammeID: IID },
            success: function (result) {                
                if (result == "") {
                    //s.SetIsValid(true);
                    alert('success');
                    //gridModule.Refresh();
                    gridModule.PerformCallback();
                }
                else {
                    //s.SetIsValid(false);
                    alert('fail');                    
                }
            },
            error: function (xhr, textStatus, errorThrown) {
                alert('Request Status: ' + xhr.status + '; Status Text: ' + textStatus + '; Error: ' + errorThrown);
            }
        });
    }

    function gridModule_BeginCallback(s, e) {        
        var IID = ProgrammeID.GetValue();
        e.customArgs["ProgrammeID"] = IID;
    }

    @*function onValueChanged(s, e) {
        alert('in onvaluechanged');
        var text = s.GetText();
        var val = s.GetValue();
        var result;
        $.ajax({
            url: '@Url.Action("CheckUniqueCode", "Programme")',
            type: "GET",
            data: { Code: text },
            success: function (data) {
                //alert(data.resultData);
                //alert(data.result);
                if (data.resultData == false) {
                    //alert(false);
                    s.SetIsValid(false);
                }
                else {
                    //alert(true);
                    s.SetIsValid(true);
                }
            },
            error: function (xhr, textStatus, errorThrown) {
                alert('Request Status: ' + xhr.status + '; Status Text: ' + textStatus + '; Error: ' + errorThrown);
            }
        });
    }*@

    //function HandleRowDoubleClick(s, e) {       
    //    s.GetRowValues(e.visibleIndex, 'ProgrammeID', OnGetRowValues)
    //}
    //function OnGetRowValues(Value) {       
    //    var hintWindow = pcProgramme.GetWindowByName("PopUpPartial");       
    //    pcProgramme.ShowWindow(hintWindow);
    //}

</script>
<style>
.ContentCSS > TextBox{
    width:350px;
}
</style>
@using (Html.BeginForm("ExportTo", "Programme"))
{
    <h1>Programme</h1> 
    @Html.Hidden("exportFormat");       
    @Html.Partial("GridViewPartial", Model);
}

    @section AdditionalResources {
    <script type="text/javascript">
        function OnToolbarItemClick(s,e) {
            if(!IsExportToolbarCommand(e.item.name))
                return;

            var $exportFormat = $('#exportFormat');
            $exportFormat.val(e.item.name);
            $('form').submit();
            window.setTimeout(function(){
                $exportFormat.val("");
            }, 0);
        }
        function IsExportToolbarCommand(command) {
            return command == "Pdf" || command == "Xlsx" || command == "Xls" || command == "Rtf" || command == "Csv";
        }
    </script>
}