﻿@using AgiCorp.Entity
@model EntityUser
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LogIn</title>
    <!-- BOOTSTRAP STYLES-->
    <link href="~/assets/css/bootstrap.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
    <link href="~/assets/css/font-awesome.css" rel="stylesheet" />
    <!-- CUSTOM STYLES-->
    <link href="~/assets/css/custom.css" rel="stylesheet" />
    <!-- GOOGLE FONTS-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>
@using (Html.BeginForm("LogIn", "LogIn", FormMethod.Post,
                                      new { enctype = "multipart/form-data" }))
{
    <body class="school-bg">
        <div class="container">
            <div class="row text-center ">
                <div class="col-md-12">
                    <br /><br />
                    <img src="~/assets/img/AGIlogo2.png" alt="AGI">


                    <h5>( Login yourself to get access )</h5>
                    <br />
                </div>
            </div>
            <div class="row ">

                <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong>   Enter Details To Login </strong>
                        </div>
                        <div class="panel-body">
                            <form role="form">
                                <br />
                                <div class="form-group input-group">
                                    <span class="input-group-addon"><i class="fa fa-tag"></i></span>
                                    @Html.TextBoxFor(model => model.UserName, new { title = "User Name", @placeholder = "Your Username ", @class = "form-control", TabIndex = "1" })
                                    @*<input type="text" class="form-control" value="AGI Admin" placeholder="Your Username " />*@
                                </div>
                                <div class="form-group input-group">
                                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                    @Html.TextBoxFor(model => model.Password, new { title = "Password", @placeholder = "Your Password", @class = "form-control", TabIndex = "2", @type = "password" })
                                    @*<input type="password" class="form-control" value="admin" placeholder="Your Password" />*@
                                </div>
                                @*<div class="form-group">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" /> Remember me
                                    </label>
                                    <span class="pull-right">
                                        <a href="#">Forget password ? </a>
                                    </span>
                                </div>*@

                                @*<a href="/Institution/Index" class="btn btn-primary ">Login Now</a>*@
                                <input type="submit" value="Login Now" class="btn btn-primary " />

                                <hr />
                                @Html.ValidationMessage("Val_Login")
                                @*Not register ? <a href="registeration.html">click here </a>*@
                            </form>
                        </div>

                    </div>
                </div>


            </div>
        </div>


        <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
        <!-- JQUERY SCRIPTS -->
        <script src="~/assets/js/jquery-1.10.2.js"></script>
        <!-- BOOTSTRAP SCRIPTS -->
        <script src="~/assets/js/bootstrap.min.js"></script>
        <!-- METISMENU SCRIPTS -->
        <script src="~/assets/js/jquery.metisMenu.js"></script>
        <!-- CUSTOM SCRIPTS -->
        <script src="~/assets/js/custom.js"></script>
    </body>
}
</html>
