﻿@model System.Data.DataTable

@using System.Web.UI.WebControls;
<script type="text/javascript">
    function onShowChooserClick(s, e) {
        UpdateCustomizationWindowVisibility();
    }
    function grid_CustomizationWindowCloseUp(s, e) {
        UpdateButtonText();
    }
    function UpdateCustomizationWindowVisibility() {
        if (grid.IsCustomizationWindowVisible())
            grid.HideCustomizationWindow();
        else
            grid.ShowCustomizationWindow();
        UpdateButtonText();
    }
    function UpdateButtonText() {
        var text = grid.IsCustomizationWindowVisible() ? "Hide" : "Show";
        text += " Column Chooser";
        btShowColumnChooser.SetText(text);
    }

    

    function OnClick(s, e) {       
        //var targetUrl = s.submitUrl + "?CampusID=" + cmbCampus.GetValue() + "&IntakeID=" + IntakeID.GetValue();
        //s.submitUrl = targetUrl;                
        var SID = cmbCampus.GetValue();
        var IID = IntakeID.GetValue();     

        $.ajax({
            url: '@Url.Action("AddAssociatedCampus", "Intake")',
            type: "POST",
            data: { CampusID: SID, IntakeID: IID },
            success: function (result) {                
                if (result == "") {
                    //s.SetIsValid(true);
                    alert('success');
                    //gridCampus.Refresh();
                    gridCampus.PerformCallback();
                }
                else {
                    //s.SetIsValid(false);
                    alert('fail');                    
                }
            },
            error: function (xhr, textStatus, errorThrown) {
                alert('Request Status: ' + xhr.status + '; Status Text: ' + textStatus + '; Error: ' + errorThrown);
            }
        });
    }

    function gridCampus_BeginCallback(s, e) {        
        var IID = IntakeID.GetValue();
        e.customArgs["IntakeID"] = IID;
    }

    function gridOffer_BeginCallback(s, e) {
        var IID = IntakeID.GetValue();
        e.customArgs["IkID"] = IID;
    }

    @*function onValueChanged(s, e) {
        alert('in onvaluechanged');
        var text = s.GetText();
        var val = s.GetValue();
        var result;
        $.ajax({
            url: '@Url.Action("CheckUniqueCode", "Intake")',
            type: "GET",
            data: { Code: text },
            success: function (data) {
                //alert(data.resultData);
                //alert(data.result);
                if (data.resultData == false) {
                    //alert(false);
                    s.SetIsValid(false);
                }
                else {
                    //alert(true);
                    s.SetIsValid(true);
                }
            },
            error: function (xhr, textStatus, errorThrown) {
                alert('Request Status: ' + xhr.status + '; Status Text: ' + textStatus + '; Error: ' + errorThrown);
            }
        });
    }*@

    //function HandleRowDoubleClick(s, e) {       
    //    s.GetRowValues(e.visibleIndex, 'IntakeID', OnGetRowValues)
    //}
    //function OnGetRowValues(Value) {       
    //    var hintWindow = pcIntake.GetWindowByName("PopUpPartial");       
    //    pcIntake.ShowWindow(hintWindow);
    //}

</script>
<style>
.ContentCSS > TextBox{
    width:350px;
}
</style>
@using (Html.BeginForm("ExportTo", "Intake"))
{
    <h1>Intake</h1> 
    @Html.Hidden("exportFormat");       
    @Html.Partial("GridViewPartial", Model);
}

    @section AdditionalResources {
    <script type="text/javascript">       
        function OnToolbarItemClick(s,e) {
            if(!IsExportToolbarCommand(e.item.name))
                return;

            var $exportFormat = $('#exportFormat');
            $exportFormat.val(e.item.name);
            $('form').submit();
            window.setTimeout(function(){
                $exportFormat.val("");
            }, 0);
        }
        function IsExportToolbarCommand(command) {
            return command == "Pdf" || command == "Xlsx" || command == "Xls" || command == "Rtf" || command == "Csv";
        }

        function checkBreakApplicable(s, e) {           
            if (!IsSemesterBreakApplicable.GetValue()) {
                SemesterBreakFromDate.SetEnabled(false);
                SemesterBreakToDate.SetEnabled(false);
                SemesterBreakFromDate.SetText('');
                SemesterBreakToDate.SetText('');
            }
            else {
                SemesterBreakFromDate.SetEnabled(true);
                SemesterBreakToDate.SetEnabled(true);
            }
            if (!IsSummerBreakApplicable.GetValue()) {
                SummerBreakFromDate.SetEnabled(false);
                SummerBreakToDate.SetEnabled(false);
                SummerBreakFromDate.SetText('');
                SummerBreakToDate.SetText('');
            }
            else {
                SummerBreakFromDate.SetEnabled(true);
                SummerBreakToDate.SetEnabled(true);
                SummerBreakToDate.Is
            }

            //var chk = document.getElementById('IsSemesterBreakApplicable_S_D');
            //var From = document.getElementById('SemesterBreakFromDate_I');
            //var To = document.getElementById('SemesterBreakToDate_I');
            //if (chk.getAttribute('class') == 'dxICheckBox_iOS dxichSys dx-not-acc dxICBFocused_iOS dxh0 dxWeb_edtCheckBoxChecked_iOS') {
            //    From.value = '';
            //    To.value = '';
            //}
        }
    </script>
}