﻿@model System.Data.DataTable

@using System.Web.UI.WebControls;
<script type="text/javascript">
    function onShowChooserClick(s, e) {
        UpdateCustomizationWindowVisibility();
    }
    function grid_CustomizationWindowCloseUp(s, e) {
        UpdateButtonText();
    }
    function UpdateCustomizationWindowVisibility() {
        if (grid.IsCustomizationWindowVisible())
            grid.HideCustomizationWindow();
        else
            grid.ShowCustomizationWindow();
        UpdateButtonText();
    }
    function UpdateButtonText() {
        var text = grid.IsCustomizationWindowVisible() ? "Hide" : "Show";
        text += " Column Chooser";
        btShowColumnChooser.SetText(text);
    }

    function OnClick(s, e) {
        //var targetUrl = s.submitUrl + "?GradeMarksID=" + cmbGradeMarks.GetValue() + "&GradeID=" + GradeID.GetValue();
        //s.submitUrl = targetUrl;
        var SID = cmbGradeMarks.GetValue();
        var IID = GradeID.GetValue();

        $.ajax({
            url: '@Url.Action("AddAssociatedGradeMarks", "Grade")',
            type: "POST",
            data: { GradeMarksID: SID, GradeID: IID },
            success: function (result) {
                if (result == "") {
                    //s.SetIsValid(true);
                    alert('success');
                    //gridGradeMarks.Refresh();
                    gridGradeMarks.PerformCallback();
                }
                else {
                    //s.SetIsValid(false);
                    alert('fail');
                }
            },
            error: function (xhr, textStatus, errorThrown) {
                alert('Request Status: ' + xhr.status + '; Status Text: ' + textStatus + '; Error: ' + errorThrown);
            }
        });
    }

    function gridGradeMarks_BeginCallback(s, e) {
        var IID = GradeID.GetValue();
        e.customArgs["GradeID"] = IID;
    }

    @*function onValueChanged(s, e) {
        alert('in onvaluechanged');
        var text = s.GetText();
        var val = s.GetValue();
        var result;
        $.ajax({
            url: '@Url.Action("CheckUniqueCode", "Grade")',
            type: "GET",
            data: { Code: text },
            success: function (data) {
                //alert(data.resultData);
                //alert(data.result);
                if (data.resultData == false) {
                    //alert(false);
                    s.SetIsValid(false);
                }
                else {
                    //alert(true);
                    s.SetIsValid(true);
                }
            },
            error: function (xhr, textStatus, errorThrown) {
                alert('Request Status: ' + xhr.status + '; Status Text: ' + textStatus + '; Error: ' + errorThrown);
            }
        });
    }*@

    //function HandleRowDoubleClick(s, e) {
    //    s.GetRowValues(e.visibleIndex, 'GradeID', OnGetRowValues)
    //}
    //function OnGetRowValues(Value) {
    //    var hintWindow = pcGrade.GetWindowByName("PopUpPartial");
    //    pcGrade.ShowWindow(hintWindow);
    //}

</script>
<style>
    .ContentCSS > TextBox {
        width: 350px;
    }
</style>
@using (Html.BeginForm("ExportTo", "Grade"))
{
    <h1>Grade</h1>
    @Html.Hidden("exportFormat");
    @Html.Partial("GridViewPartial", Model);
}

@section AdditionalResources {
    <script type="text/javascript">
        function OnToolbarItemClick(s,e) {
            if(!IsExportToolbarCommand(e.item.name))
                return;

            var $exportFormat = $('#exportFormat');
            $exportFormat.val(e.item.name);
            $('form').submit();
            window.setTimeout(function(){
                $exportFormat.val("");
            }, 0);
        }
        function IsExportToolbarCommand(command) {
            return command == "Pdf" || command == "Xlsx" || command == "Xls" || command == "Rtf" || command == "Csv";
        }
    </script>
}