﻿@model System.Data.DataTable

@using System.Web.UI.WebControls;
<script type="text/javascript">
    function onShowChooserClick(s, e) {
        UpdateCustomizationWindowVisibility();
    }
    function grid_CustomizationWindowCloseUp(s, e) {
        UpdateButtonText();
    }
    function UpdateCustomizationWindowVisibility() {
        if (grid.IsCustomizationWindowVisible())
            grid.HideCustomizationWindow();
        else
            grid.ShowCustomizationWindow();
        UpdateButtonText();
    }
    function UpdateButtonText() {
        var text = grid.IsCustomizationWindowVisible() ? "Hide" : "Show";
        text += " Column Chooser";
        btShowColumnChooser.SetText(text);
    }

    function OnClick(s, e) {                        
        var SID = cmbDepartment.GetValue();
        var IID = ClassID.GetValue();     

        $.ajax({
            url: '@Url.Action("AddAssociatedDepartment", "Class")',
            type: "POST",
            data: { DepartmentID: SID, ClassID: IID },
            success: function (result) {                
                if (result == "") {
                    //s.SetIsValid(true);
                    alert('success');
                    //gridDepartment.Refresh();
                    gridDepartment.PerformCallback();
                }
                else {
                    //s.SetIsValid(false);
                    alert('fail');                    
                }
            },
            error: function (xhr, textStatus, errorThrown) {
                alert('Request Status: ' + xhr.status + '; Status Text: ' + textStatus + '; Error: ' + errorThrown);
            }
        });
    }

        function OnEqClick(s, e) {                             
            var SID = cmbEquipment.GetValue();
            var IID = ClassID.GetValue();     

            $.ajax({
                url: '@Url.Action("AddAssociatedEquipment", "Class")',
                type: "POST",
                data: { EquipmentID: SID, ClassID: IID },
                success: function (result) {                
                    if (result == "") {
                        //s.SetIsValid(true);
                        alert('success');
                        //gridEquipment.Refresh();
                        gridEquipment.PerformCallback();
                    }
                    else {
                        //s.SetIsValid(false);
                        alert('fail');                    
                    }
                },
                error: function (xhr, textStatus, errorThrown) {
                    alert('Request Status: ' + xhr.status + '; Status Text: ' + textStatus + '; Error: ' + errorThrown);
                }
            });
 }

    function gridDepartment_BeginCallback(s, e) {        
        var IID = ClassID.GetValue();
        e.customArgs["ClassID"] = IID;
    }

    function gridEquipment_BeginCallback(s, e) {
        var IID = ClassID.GetValue();
        e.customArgs["ClassID"] = IID;
    }    

</script>
<style>
.ContentCSS > TextBox{
    width:350px;
}
</style>
@using (Html.BeginForm("ExportTo", "Class"))
{
    <h1>Rooms</h1> 
    @Html.Hidden("exportFormat");       
    @Html.Partial("GridViewPartial", Model);
}

    @section AdditionalResources {
    <script type="text/javascript">
        function OnToolbarItemClick(s, e) {           
            if(!IsExportToolbarCommand(e.item.name))
                return;

            var $exportFormat = $('#exportFormat');
            $exportFormat.val(e.item.name);
            $('form').submit();
            window.setTimeout(function(){
                $exportFormat.val("");
            }, 0);
        }
        function IsExportToolbarCommand(command) {
            return command == "Pdf" || command == "Xlsx" || command == "Xls" || command == "Rtf" || command == "Csv";
        }
    </script>
}