﻿@model System.Data.DataTable

<script type="text/javascript">
    function onShowChooserClick(s, e) {
        UpdateCustomizationWindowVisibility();
    }
    function grid_CustomizationWindowCloseUp(s, e) {
        UpdateButtonText();
    }
    function UpdateCustomizationWindowVisibility() {
        if (grid.IsCustomizationWindowVisible())
            grid.HideCustomizationWindow();
        else
            grid.ShowCustomizationWindow();
        UpdateButtonText();
    }
    function UpdateButtonText() {
        var text = grid.IsCustomizationWindowVisible() ? "Hide" : "Show";
        text += " Column Chooser";
        //btShowColumnChooser.SetText(text);
    }

 
</script>


<style>
    .ContentCSS > TextBox {
        width: 350px;
    }
</style>
@using (Html.BeginForm("ExportTo", "Offer"))
{
    <h1>Generate Offer</h1>
    @Html.Hidden("exportFormat");
    @Html.Partial("GridViewPartial", Model);
}

@section AdditionalResources {
    <script type="text/javascript">
        function OnToolbarItemClick(s,e) {
            if(!IsExportToolbarCommand(e.item.name))
                return;

            var $exportFormat = $('#exportFormat');
            $exportFormat.val(e.item.name);
            $('form').submit();
            window.setTimeout(function(){
                $exportFormat.val("");
            }, 0);
        }
        function IsExportToolbarCommand(command) {
            return command == "Pdf" || command == "Xlsx" || command == "Xls" || command == "Rtf" || command == "Csv";
        }
    </script>
}
