﻿<!DOCTYPE html>
@using System.Web.UI.WebControls;
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- BOOTSTRAP STYLES-->
    <link href="~/assets/css/bootstrap.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
    <link href="~/assets/css/font-awesome.css" rel="stylesheet" />
    <!-- CUSTOM STYLES-->
    <link href="~/assets/css/custom.css" rel="stylesheet" />
    <!-- GOOGLE FONTS-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <title>School Management System</title>
    @RenderSection("AdditionalResources", false)
    @Html.DevExpress().GetStyleSheets(
        new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
        new StyleSheet { ExtensionSuite = ExtensionSuite.CardView },
        new StyleSheet { ExtensionSuite = ExtensionSuite.PivotGrid },
        new StyleSheet { ExtensionSuite = ExtensionSuite.SpellChecker },
        new StyleSheet { ExtensionSuite = ExtensionSuite.HtmlEditor },
        new StyleSheet { ExtensionSuite = ExtensionSuite.RichEdit },
        new StyleSheet { ExtensionSuite = ExtensionSuite.Editors },
        new StyleSheet { ExtensionSuite = ExtensionSuite.VerticalGrid },
        new StyleSheet { ExtensionSuite = ExtensionSuite.Spreadsheet },
        new StyleSheet { ExtensionSuite = ExtensionSuite.Scheduler },
        new StyleSheet { ExtensionSuite = ExtensionSuite.Chart },
        new StyleSheet { ExtensionSuite = ExtensionSuite.Report },
        new StyleSheet { ExtensionSuite = ExtensionSuite.GridView },
        new StyleSheet { ExtensionSuite = ExtensionSuite.TreeList },
        new StyleSheet { ExtensionSuite = ExtensionSuite.Dashboard }
    )
    @Html.DevExpress().GetScripts(
        new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
        new Script { ExtensionSuite = ExtensionSuite.CardView },
        new Script { ExtensionSuite = ExtensionSuite.PivotGrid },
        new Script { ExtensionSuite = ExtensionSuite.SpellChecker },
        new Script { ExtensionSuite = ExtensionSuite.HtmlEditor },
        new Script { ExtensionSuite = ExtensionSuite.RichEdit },
        new Script { ExtensionSuite = ExtensionSuite.Editors },
        new Script { ExtensionSuite = ExtensionSuite.VerticalGrid },
        new Script { ExtensionSuite = ExtensionSuite.Spreadsheet },
        new Script { ExtensionSuite = ExtensionSuite.Scheduler },
        new Script { ExtensionSuite = ExtensionSuite.Chart },
        new Script { ExtensionSuite = ExtensionSuite.Report },
        new Script { ExtensionSuite = ExtensionSuite.GridView },
        new Script { ExtensionSuite = ExtensionSuite.TreeList },
        new Script { ExtensionSuite = ExtensionSuite.Dashboard }
    )
</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">AGI Admin</a>
            </div>
            <div style="color: white;
padding: 15px 50px 5px 50px;
float: right;
font-size: 16px;">Version:1.6 &nbsp;<a href="/LogIn/Index" class="btn btn-danger square-btn-adjust">Logout</a></div>
        </nav>
        <!-- /. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            @Html.DevExpress().TreeView(settings =>
       {
           settings.Name = "TreeView";
           settings.AllowSelectNode = true;
           settings.ShowExpandButtons = true;
           settings.EnableAnimation = true;
           settings.EnableHotTrack = true;
           settings.EnableTheming = true;
           settings.ShowTreeLines = true;
           //settings.Height = 600;//Unit.Percentage(100);
           //settings.Theme = "SoftOrange";

           settings.Nodes.Add(node =>
           {
               node.Text = "Organization";
               //node.Image.Url = "~/Content/TreeView/Controls/ASP.png";
               //settings.ControlStyle.CssClass = "fa fa-dashboard fa-3x";
               node.Nodes.Add(subNode =>
               {
                   subNode.Text = "Institution";
                   //subNode.Image.Url = "~/Assets/img/1.png";
                   subNode.NavigateUrl = Url.Action("Index", "Institution");
                   subNode.NodeStyle.ForeColor = System.Drawing.Color.White;
               });
               node.Nodes.Add(subNode =>
               {
                   subNode.Text = "School";
                   subNode.NavigateUrl = Url.Action("Index", "School");
                   subNode.NodeStyle.ForeColor = System.Drawing.Color.White;
               });
               node.Nodes.Add(subNode =>
               {
                   subNode.Text = "Campus";
                   subNode.NavigateUrl = Url.Action("Index", "Campus");
                   subNode.NodeStyle.ForeColor = System.Drawing.Color.White;
               });
               node.Nodes.Add(subNode =>
               {
                   subNode.Text = "Building";
                   subNode.NavigateUrl = Url.Action("Index", "Building");
                   subNode.NodeStyle.ForeColor = System.Drawing.Color.White;
               });
               node.Nodes.Add(subNode =>
               {
                   subNode.Text = "Rooms";
                   subNode.NavigateUrl = Url.Action("Index", "Class");
                   subNode.NodeStyle.ForeColor = System.Drawing.Color.White;
               });
               node.Nodes.Add(subNode =>
               {
                   subNode.Text = "Department";
                   subNode.NavigateUrl = Url.Action("Index", "Department");
                   subNode.NodeStyle.ForeColor = System.Drawing.Color.White;
               });
               node.Nodes.Add(subNode =>
               {
                   subNode.Text = "Equipment";
                   subNode.NavigateUrl = Url.Action("Index", "Equipment");
                   subNode.NodeStyle.ForeColor = System.Drawing.Color.White;
               });
               node.Nodes.Add(subNode =>
               {
                   subNode.Text = "Equipment Type";
                   subNode.NavigateUrl = Url.Action("Index", "EquipmentType");
                   subNode.NodeStyle.ForeColor = System.Drawing.Color.White;
               });
               node.Nodes.Add(subNode =>
               {
                   subNode.Text = "Agent";
                   subNode.NavigateUrl = Url.Action("Index", "Agent");
                   subNode.NodeStyle.ForeColor = System.Drawing.Color.White;
               });
               node.Nodes.Add(subNode =>
               {
                   subNode.Text = "Placement";
                   subNode.NavigateUrl = Url.Action("Index", "Placement");
                   subNode.NodeStyle.ForeColor = System.Drawing.Color.White;
               });

           });
           settings.Nodes.Add(node =>
           {
               node.Text = "Academics";
               node.Nodes.Add(subNode =>
               {
                   subNode.Text = "Graduate Profile Outcome";
                   subNode.NavigateUrl = Url.Action("Index", "GPO");
                   subNode.NodeStyle.ForeColor = System.Drawing.Color.White;
               });
               node.Nodes.Add(subNode =>
               {
                   subNode.Text = "Learning Outcome";
                   subNode.NavigateUrl = Url.Action("Index", "LO");
                   subNode.NodeStyle.ForeColor = System.Drawing.Color.White;
               });
               node.Nodes.Add(subNode =>
               {
                   subNode.Text = "Module";
                   subNode.NavigateUrl = Url.Action("Index", "Module");
                   subNode.NodeStyle.ForeColor = System.Drawing.Color.White;
               });
               node.Nodes.Add(subNode =>
               {
                   subNode.Text = "Qualification";
                   subNode.NavigateUrl = Url.Action("Index", "Qualification");
                   subNode.NodeStyle.ForeColor = System.Drawing.Color.White;
               });
               node.Nodes.Add(subNode =>
               {
                   subNode.Text = "Qualification Type";
                   subNode.NavigateUrl = Url.Action("Index", "QualificationType");
                   subNode.NodeStyle.ForeColor = System.Drawing.Color.White;
               });
               node.Nodes.Add(subNode =>
               {
                   subNode.Text = "Programme";
                   subNode.NavigateUrl = Url.Action("Index", "Programme");
                   subNode.NodeStyle.ForeColor = System.Drawing.Color.White;
               });
               node.Nodes.Add(subNode =>
               {
                   subNode.Text = "Grade";
                   subNode.NavigateUrl = Url.Action("Index", "Grade");
                   subNode.NodeStyle.ForeColor = System.Drawing.Color.White;
               });
               node.Nodes.Add(subNode =>
               {
                   subNode.Text = "Fees";
                   subNode.NavigateUrl = Url.Action("Index", "Fees");
                   subNode.NodeStyle.ForeColor = System.Drawing.Color.White;
               });

           });
           settings.Nodes.Add(node =>
           {
               node.Text = "Staff";
               node.Nodes.Add(subNode =>
               {
                   subNode.Text = "Staff Detail";
                   subNode.NavigateUrl = Url.Action("Index", "Staff");
                   subNode.NodeStyle.ForeColor = System.Drawing.Color.White;
               });
               node.Nodes.Add(subNode =>
               {
                   subNode.Text = "Staff Type";
                   subNode.NavigateUrl = Url.Action("Index", "StaffType");
                   subNode.NodeStyle.ForeColor = System.Drawing.Color.White;
               });
           });
           settings.Nodes.Add(node =>
           {
               node.Text = "Enrolment";
               //node.Nodes.Add("Intake");
               //node.Nodes.Add("Client");
               node.Nodes.Add(subNode =>
               {
                   subNode.Text = "Intake";
                   subNode.NavigateUrl = Url.Action("Index", "Intake");
                   subNode.NodeStyle.ForeColor = System.Drawing.Color.White;
               });
               node.Nodes.Add(subNode =>
               {
                   subNode.Text = "Client";
                   subNode.NavigateUrl = Url.Action("Index", "Client");
                   subNode.NodeStyle.ForeColor = System.Drawing.Color.White;
               });
               //node.Nodes.Add("Generate Offer");
               node.Nodes.Add(subNode =>
               {
                   subNode.Text = "Generate Offer";
                   subNode.NavigateUrl = Url.Action("Index", "Offer");
                   subNode.NodeStyle.ForeColor = System.Drawing.Color.White;
               });
               //node.Nodes.Add("Class");
           });
           //settings.Nodes.Add("Staff");




           settings.ControlStyle.ForeColor = System.Drawing.Color.White;
           settings.AllowSelectNode = true;

           settings.PreRender = (sender, e) =>
           {
               ASPxTreeView treeView = (ASPxTreeView)sender;
               treeView.ExpandToDepth(1);
           };


       }).GetHtml()
        </nav>


        <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                        @RenderBody()
                    </div>
                </div>
                <!-- /. ROW  -->
                <hr />

            </div>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    @*<script src="~/assets/js/jquery-1.10.2.js"></script>*@
    <!-- BOOTSTRAP SCRIPTS -->
    <script src="~/assets/js/bootstrap.min.js"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="~/assets/js/jquery.metisMenu.js"></script>
    <!-- CUSTOM SCRIPTS -->
    <script src="~/assets/js/custom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-json/2.6.0/jquery.json.min.js" type="text/javascript"></script>
    
    

   


   
</body>
</html>
