﻿@using System.Web.UI.WebControls
@using AgiCorp.Entity
@using AgiCorp.BLL
@model EntityGPO
@{
    BALCountry balCountry = new BALCountry();
    BALModule balModule = new BALModule();
    BALLO balLO = new BALLO();
}


@{
    if (ViewData["DeleteError"] != null && ViewData["DeleteError"] != "")
    {
        @Html.Raw(ViewData["DeleteError"]);
        return;
    }
}
@functions {
    bool isNewRow { get { return ViewBag.IsNewRow != null && (bool)ViewBag.IsNewRow; } }
}


        @Html.DevExpress().PageControl(settings =>
   {
       settings.Name = "pageControl";
       settings.Width = Unit.Percentage(100);
       //settings.Width = 700;
       //settings.Height = 400;


       settings.TabPages.Add("GPO", "GPO").SetContent(() =>
       {
           Html.DevExpress().FormLayout(formLayoutSettings =>
           {
               formLayoutSettings.Name = "FormLayout1";
               formLayoutSettings.Width = Unit.Percentage(100);
               formLayoutSettings.SettingsAdaptivity.AdaptivityMode = FormLayoutAdaptivityMode.SingleColumnWindowLimit;
               formLayoutSettings.SettingsAdaptivity.SwitchToSingleColumnAtWindowInnerWidth = 700;
               formLayoutSettings.ColCount = 2;

               formLayoutSettings.Items.Add(i =>
               {
                   i.Name = "Code";
                   i.FieldName = "Code";
                   i.NestedExtension().TextBox(s =>
                   {
                       s.Name = "Code";
                       s.ShowModelErrors = true;
                       s.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithTooltip;
                   });
               });
               formLayoutSettings.Items.Add(i =>
               {
                   i.Name = "Description";
                   i.FieldName = "Description";
                   i.NestedExtension().TextBox(s =>
                   {
                       s.Name = "Description";
                       s.ShowModelErrors = true;
                   });
               });
               formLayoutSettings.Items.Add(i =>
               {
                   i.Name = "Credits";
                   i.FieldName = "Credits";
                   i.NestedExtension().SpinEdit(s =>
                   {
                       s.Name = "Credits";
                       s.ShowModelErrors = true;
                   });
               });
               formLayoutSettings.Items.Add(i =>
               {
                   i.Name = "F2FHours";
                   i.FieldName = "F2FHours";
                   i.Caption = "Face To Face Hours";
                   i.NestedExtension().SpinEdit(s =>
                   {
                       s.Name = "F2FHours";
                       s.ShowModelErrors = true;
                   });
               });
               formLayoutSettings.Items.Add(i =>
               {
                   i.Name = "SDHours";
                   i.FieldName = "SDHours";
                   i.Caption = "Self Directed Hours";
                   i.NestedExtension().SpinEdit(s =>
                   {
                       s.Name = "SDHours";
                       s.ShowModelErrors = true;
                   });
               });
               formLayoutSettings.Items.Add(i =>
               {
                   i.Name = "GPOID";
                   i.FieldName = "GPOID";
                   i.ClientVisible = false;
                   i.NestedExtension().TextBox(s =>
                   {
                       s.Name = "GPOID";
                   });
               });

               formLayoutSettings.Items.AddEmptyItem();
               formLayoutSettings.Items.AddEmptyItem();
               formLayoutSettings.Items.Add(i =>
               {
                   i.ShowCaption = DefaultBoolean.False;
               }).SetNestedContent(() =>
               {
                   ViewContext.Writer.Write("<div style='float:left'>");
                   Html.DevExpress().Button(btnSettings =>
                   {
                       btnSettings.Name = "btnUpdate";
                       btnSettings.Text = "Update";
                       btnSettings.ClientSideEvents.Click = "function(s, e){ grid.UpdateEdit(); }";
                   }).Render();
                   Html.DevExpress().Button(btnSettings =>
                   {
                       btnSettings.Name = "btnCancel";
                       btnSettings.Text = "Cancel";
                       btnSettings.Style[HtmlTextWriterStyle.MarginLeft] = "5px";
                       btnSettings.ClientSideEvents.Click = "function(s, e){ grid.CancelEdit(); }";
                   }).Render();
                   ViewContext.Writer.Write("</div>");
               });


           }).GetHtml();


       });
       settings.TabPages.Add(p =>
       {
           p.Name = "LO";
           p.Text = "Learning Outcome";
           p.Visible = isNewRow;
           p.SetContent(() =>
           {
               ViewContext.Writer.Write("<table><tr><td>");
               @Html.DevExpress().ComboBox(cb =>
               {
                   cb.Name = "cmbLO";
                   cb.Properties.TextField = "Description";
                   cb.Properties.ValueField = "LOID";
                   cb.Properties.ValueType = typeof(int);
                   cb.Width = 300;
               })
             .BindList(balLO.BALLO_Get_All())
             .Render();
               ViewContext.Writer.Write("</td><td>");

               Html.DevExpress().Button(
               btnSettings =>
               {
                   btnSettings.Name = "btnAdd";
                   btnSettings.ControlStyle.CssClass = "editFormButton";
                   btnSettings.Text = "Add Associated LO";
                   btnSettings.ClientSideEvents.Click = "OnClick";
               }
               )
               .Render();
               ViewContext.Writer.Write("</td></tr></table>");


               Html.RenderAction("GetGPOLOData", new { GPOID = ViewData["GpID"] });              
           });
       });
   }).GetHtml()




