﻿@model System.Data.DataTable

@using System.Web.UI.WebControls;
<script type="text/javascript">
    function onShowChooserClick(s, e) {
        UpdateCustomizationWindowVisibility();
    }
    function grid_CustomizationWindowCloseUp(s, e) {
        UpdateButtonText();
    }
    function UpdateCustomizationWindowVisibility() {
        if (grid.IsCustomizationWindowVisible())
            grid.HideCustomizationWindow();
        else
            grid.ShowCustomizationWindow();
        UpdateButtonText();
    }
    function UpdateButtonText() {
        var text = grid.IsCustomizationWindowVisible() ? "Hide" : "Show";
        text += " Column Chooser";
        btShowColumnChooser.SetText(text);
    }

    function OnClick(s, e) {       
        //var targetUrl = s.submitUrl + "?BuildingID=" + cmbBuilding.GetValue() + "&FeeID=" + FeeID.GetValue();
        //s.submitUrl = targetUrl;                
        var SID = cmbBuilding.GetValue();
        var IID = FeeID.GetValue();     

        $.ajax({
            url: '@Url.Action("AddAssociatedBuilding", "Fees")',
            type: "POST",
            data: { BuildingID: SID, FeeID: IID },
            success: function (result) {                
                if (result == "") {
                    //s.SetIsValid(true);
                    alert('success');
                    //gridBuilding.Refresh();
                    gridBuilding.PerformCallback();
                }
                else {
                    //s.SetIsValid(false);
                    alert('fail');                    
                }
            },
            error: function (xhr, textStatus, errorThrown) {
                alert('Request Status: ' + xhr.status + '; Status Text: ' + textStatus + '; Error: ' + errorThrown);
            }
        });
    }

    function gridBuilding_BeginCallback(s, e) {        
        var IID = FeeID.GetValue();
        e.customArgs["FeeID"] = IID;
    }

    function onFeeChanged(s, e)
    {
        TotalFees.SetText(TutionFees.GetValue() + MaterialFees.GetValue() + Insurance.GetValue() + RegistrationFees.GetValue() + AdministrationFees.GetValue() + OtherFees.GetValue());
    } 

    

</script>
<style>
.ContentCSS > TextBox{
    width:350px;
}
</style>
@using (Html.BeginForm("ExportTo", "Fees"))
{
    <h1>Fees</h1> 
    @Html.Hidden("exportFormat");       
    @Html.Partial("GridViewPartial", Model);
}

    @section AdditionalResources {
    <script type="text/javascript">
        function OnToolbarItemClick(s,e) {
            if(!IsExportToolbarCommand(e.item.name))
                return;

            var $exportFormat = $('#exportFormat');
            $exportFormat.val(e.item.name);
            $('form').submit();
            window.setTimeout(function(){
                $exportFormat.val("");
            }, 0);
        }
        function IsExportToolbarCommand(command) {
            return command == "Pdf" || command == "Xlsx" || command == "Xls" || command == "Rtf" || command == "Csv";
        }
    </script>
}